
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     background-image: url(''); 
}

.auth-container {
    background-color: #fff;
    padding: 50px 60px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);
    width: 400px;
    max-width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 2rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 1.1rem;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1.1rem;
}


button {
    padding: 18px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}


.message {
    font-size: 1rem;
    font-weight: bold;
    color: red;
}


@media (max-width: 480px) {
    .auth-container {
        padding: 30px 20px;
        width: 90%;
    }

    h2 {
        font-size: 1.5rem;
    }

    .input-group input, button {
        font-size: 1rem;
        padding: 12px;
    }
}
